<!DOCTYPE html>
<html lang="en">

<head>
  <script src=" https://cdn.jsdelivr.net/npm/echarts@5.6.0/dist/echarts.min.js "></script>
</head>

<body>
  <div id="electricityImportChart" style="width: 600px;height:400px;"></div>

  <script type="text/javascript">

    var data = $data;

    function getOrCreateChart(div) {
        return echarts.init(div);
    }

    function createElectricityImportChart(data) {
        const chart = getOrCreateChart(document.getElementById("electricityImportChart"));
        var option = {
            title: {
                text: 'Stromimport vs. Export',
                left: 'center',
                top: 'top'
            },
            legend: {
                left: 'center',
                top: 'bottom'
            },
            xAxis: {
                type: 'category',
                data: ['Importe', "Exporte"]
            },
            yAxis: {
                type: 'value',
                name: 'GWh'
            },
            series: [
                {
                    data: data,
                    type: 'bar'
                }
            ]
        };
        chart.setOption(option);
    }
    createElectricityImportChart(data);
  </script>
</body>

</html>