<!DOCTYPE html>
<html lang="en">

<head>
  <script src=" https://cdn.jsdelivr.net/npm/echarts@5.6.0/dist/echarts.min.js "></script>
</head>

<body>
  <div id="interactiveTimeseriesPlotChart" style="width: 600px;height:400px;"></div>

  <script type="text/javascript">

    var data = $data;

    function getOrCreateChart(div) {
        return echarts.init(div);
    }

    function createInteractiveTimeseriesPlotChart(data) {
        const chart = getOrCreateChart(document.getElementById("interactiveTimeseriesPlotChart"));

        var xAxisData = Object.keys(data['flow zeit 1']);

        var series = [];
        for (var key in data) {
            if (data.hasOwnProperty(key)) {
                var seriesData = Object.values(data[key]);
                series.push({
                    name: key,
                    type: 'line',
                    data: seriesData
                });
            }
        }

        var option = {
            title: {
                text: 'Interaktiver Zeitreihenplot',
                left: 'center',
                top: 'top'
            },
            legend: {
                data: Object.keys(data),
                left: 'center',
                top: 'bottom'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    crossStyle: {
                        color: '#999'
                    }
                }
            },
            xAxis: {
                type: 'category',
                data: xAxisData
            },
            yAxis: {
                type: 'value',
                name: 'MWh',
            },
            series: series
        };

        chart.setOption(option);
    }
    createInteractiveTimeseriesPlotChart(data);
  </script>
</body>

</html>