<!DOCTYPE html>
<html lang="en">

<head>
  <script src=" https://cdn.jsdelivr.net/npm/echarts@5.6.0/dist/echarts.min.js "></script>
</head>

<body>
  <div id="main" style="width: 600px;height:400px;"></div>

  <script type="text/javascript">
    var chartDom = document.getElementById('main');
    var myChart = echarts.init(chartDom);

    var data = $data;

    var option;

    option = {
      title: {
        text: 'Optimierte Kapazitäten',
        left: 'center',
        top: 'top'
      },
      legend: {
        left: 'center',
        top: 'bottom'
      },
      tooltip: {
        trigger: 'axis',
        axisPointer: {
          type: 'cross',
          crossStyle: {
            color: '#999'
          }
        }
      },
      xAxis: {
        type: 'category',
        data: data.map(item => item.name),
        axisLabel: {
          interval: 0,
          rotate: 90,
        }
      },
      yAxis: [
        {
          type: 'value',
          name: 'optimierte \n Leistung [MW]',
        },
        {
          type: 'value',
          name: 'theoretisches \n Ausbaupotential [MW]',
        }
      ],
      series: [
        {
          name: 'optimierte Leistung',
          data: data.map(item => item.var_value === 0 ? item.capacity_potential * 0.5 : item.var_value),
          type: 'bar'
        },
        {
          name: 'theoretisches Ausbaupotential',
          data: data.map(item => item.capacity_potential),
          type: 'scatter'
        }
      ]
    }

    option && myChart.setOption(option);
  </script>
</body>

</html>