<!DOCTYPE html>
<html lang="en">

<head>
  <script src=" https://cdn.jsdelivr.net/npm/echarts@5.6.0/dist/echarts.min.js "></script>
    <meta charset="UTF-8">
</head>

<body>
  <div id="optimizedCapacitiesChart" style="width: 600px;height:400px;"></div>

  <script type="text/javascript">

    var data = $data;
    var techMap = $techMap

    const sortedMapKeys = Object.keys(techMap)
      .sort((a, b) => b.length - a.length);

    function getOrCreateChart(div) {
      return echarts.init(div);
    }

    function createOptimizedCapacitiesChart(data) {
        const chart = getOrCreateChart(document.getElementById("optimizedCapacitiesChart"));

        const categories = data.map(item => {
          const foundKey = sortedMapKeys.find(k => item.name.includes(k));
          return foundKey
            ? techMap[foundKey].name
            : item.name;
        });

        let option = {
           grid: {
              containLabel: true,
              bottom: '8%'
            },
            title: {
                text: 'Optimierte Kapazitäten',
                left: 'center',
                top: 'top'
            },
            legend: {
                left: 'center',
                top: 'bottom',
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    crossStyle: {
                        color: '#999'
                    }
                }
            },
            xAxis: {
                type: 'category',
                data: categories,
                axisLabel: {
                    interval: 0,
                    rotate: 90,
                    margin: 8,
                    formatter: function(value) {
                      const maxLen = 12;
                      return value.length > maxLen
                        ? value.slice(0, maxLen) + '…'
                        : value;
                    }
                }
            },
            yAxis: [
                {
                    type: 'value',
                    name: 'optimierte \n Leistung [MW]',
                },
                {
                    type: 'value',
                    name: 'theoretisches \n Ausbaupotential [MW]',
                }
            ],
            series: [
                {
                    name: 'optimierte Leistung',
                    data: data.map(item => item.var_value === 0 ? item.capacity_potential * 0.5 : item.var_value),
                    type: 'bar'
                },
                {
                    name: 'theoretisches Ausbaupotential',
                    data: data.map(item => item.capacity_potential),
                    type: 'scatter'
                }
            ]
        };

        chart.setOption(option);
    }
    createOptimizedCapacitiesChart(data);
  </script>
</body>

</html>