<!DOCTYPE html>
<html lang="en">
<head>
  <script src=" https://cdn.jsdelivr.net/npm/echarts@5.6.0/dist/echarts.min.js "></script>
</head>
<body>
  <div id="totalElectricityChart" style="width: 600px;height:400px;"></div>

  <script type="text/javascript">

    var data = $data;

    function getOrCreateChart(div_id) {
        const div = document.getElementById(div_id);
        return echarts.init(div);
    }

    function createTotalElectricityChart(data) {
        const chart = getOrCreateChart("totalElectricityChart");

        let option = {
            title: {
                text: 'Stromversorgung je Technologie',
                left: 'center'
            },
            tooltip: {
                trigger: 'item'
            },
            legend: {
                orient: 'vertical',
                left: 'right',
                top: 'bottom',
            },
            series: [
                {
                    name: 'Access From',
                    type: 'pie',
                    radius: '50%',
                    center: ['30%', '50%'],
                    data: data,
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };

        chart.setOption(option);
    }
    createTotalElectricityChart(data);
  </script>
</body>
</html>