<!DOCTYPE html>
<html lang="en">
<head>
  <script src=" https://cdn.jsdelivr.net/npm/echarts@5.6.0/dist/echarts.min.js "></script>
    <meta charset="UTF-8">
</head>
<body>
  <div id="totalElectricityChart" style="width: 600px;height:400px;"></div>

  <script type="text/javascript">

    var data = $data;
    var techMap = $techMap;

    const styledData = data.map(item => {
      const mapEntry = techMap[item.name];
      if (mapEntry) {
        return {
          value: item.value,
          name:  mapEntry.name,
          itemStyle: { color: mapEntry.color }
        };
      }
      return item;
    });

    function getOrCreateChart(div) {
        return echarts.init(div);
    }

    function createTotalElectricityChart(data) {
        const chart = getOrCreateChart(document.getElementById("totalElectricityChart"));

        let option = {
            title: {
                text: 'Stromversorgung je Technologie',
                left: 'center'
            },
            tooltip: {
                trigger: 'item'
            },
            legend: {
                orient: 'vertical',
                left: 'right',
                bottom: '-5%',
            },
            series: [
                {
                    name: 'Energy',
                    type: 'pie',
                    radius: '50%',
                    center: ['30%', '50%'],
                    data: styledData,
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };

        chart.setOption(option);
    }
    createTotalElectricityChart(data);
  </script>
</body>
</html>